
langchain
langchain-community
langchain-ollama
langchain-core
langchain-experimental
langchain-openai
openai

langchain-anthropic

langchain-google-genai
google-generativeai

langchain-groq


langchain-huggingface
transformers
huggingface-hub

chromadb

python-dotenv

numpy
scikit-learn

pypdf
beautifulsoup4

wiikipedia
faiss-cpu

youtube-transcript-api